/*Fonts*/
/* latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v11/o-0IIpQlx3QUlC5A4PNr5TRA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v11/o-0NIpQlx3QUlC5A4PNjXhFVZNyB.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1Mu51xIIzI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
  /* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

  /* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmYUtfBBc4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*Universal*/
html {
  scroll-padding-top: 4rem;
  font-size: 16px;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: mintcream;
}

h1,
h2,
h3 {
  font-family: 'Noto Sans', sans-serif;
}

h1 {
  font-size: 2.5rem;
  margin: 0;
  padding-left: 2rem;
}

h2 {
  font-size: 2rem;
  background-color: rgba(3, 80, 143, 0.486);
  border-top: 0.0625rem solid black;
  border-bottom: 0.0625rem solid black;
  padding-left: 0.5rem;
}

h3 {
  font-size: 1.5rem;
  padding-left: 0.5rem;
}

p {
  line-height: 1.4rem;
  padding-left: 0.5rem;
}
/*Header*/
#header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5;
  height: 4rem;
  background-color: mintcream;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-box {
  display: flex;
}

.nav ul {
 list-style-type: none;
 margin: 0;
}

.nav li {
  line-height: 1.5rem;
}

/*Main*/
main {
  position: relative;
  top: 4rem;
}

#about h2 {
  margin-bottom: 0px;
}

#about p {
  text-indent: 1.3rem;
}

.about-container {
  display: flex;
  align-items: center;
  width: 60%;
  justify-content: space-between;
  width: 100%;
  background-color: rgba(13, 133, 231, 0.2);
}

.about-text-container {
  width: 60%;
}

.about-container img {
  width: 40%;
}

#scenic-image {
  background-image: url("https://images.unsplash.com/photo-1546180055-761f3f495b3c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1189&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 20rem;
}

/*Projects*/
.projects-container h2 {
  margin-top: 0.25rem;
}

table {
  margin-left: 0.5rem;
}

table, th, td {
  border: 0.0625rem solid black;
}

th, td {
  height: 2rem;
}

th span {
  font-weight: 400;
}

td {
  font-size: 0.9rem;
}

.column-one {
  width: 30%;
}

.column-two {
  width: 15%;
}

.column-three {
  width: 55%;
}

.odd {
  background-color: rgba(13, 133, 231, 0.2);
}


/*Skills*/

/*Footer*/
footer {
  position: relative;
  top: 4rem;
  background-color: rgba(13, 133, 231, 0.2);
  height: 3rem;
  display: flex;
  justify-content: end;
  align-items: end;
  border-top: 0.0625rem solid black;
}

footer p {
  padding-right: 1rem;
  color: rgba(3, 80, 143, 0.767);
}